/* Digital */

body {
  flex-direction: row-reverse;
  /* justify-content: space-evenly; */
  align-items: center;
}

.container {
  min-width: 90vw;
}

.digital {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.25rem, 5vw, 3rem);
  width: min(400px, 35vw);
  height: 20vh;
  border: 2px solid black;
  border-radius: 20px;
  background: rgb(28, 40, 18);
  background: -moz-linear-gradient(145deg, rgba(219,225,214,1) 0%, rgba(207,215,197,1) 40%, rgba(166,178,154,1) 100%);
  background: -webkit-linear-gradient(145deg, rgba(219,225,214,1) 0%, rgba(207,215,197,1) 40%, rgba(166,178,154,1) 100%);
  background: linear-gradient(145deg, rgba(219,225,214,1) 0%, rgba(207,215,197,1) 40%, rgba(166,178,154,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbe1d6",endColorstr="#a6b29a",GradientType=1);
}

#time24 {
  display: block;
}

#time12 {
  display: none;
}

button {
  width: max(75px, 15vw);
  height: 30px;
  font-size: clamp(0.75rem, 1.5vw, 1.75rem);
  font-family: inherit;
  margin-top: 1em;
}

.button-container {
  width: 10px;
}

a {
  font-size: clamp(1rem, 2vw, 1.5rem);
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 2.5px;
}


@media screen and (min-width: 1025px) {
  .digital {
    height: 30vh;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .digital {
    height: 25vh;
  }
}

@media screen and (max-width: 768px) {
  .digital {
    height: 22.5vh;
  }
}

@media screen and (max-width: 576px) {
  .digital {
    height: 20vh;
  }
}

