/* Digital */

.container {
  min-width: 100vw;
}

.digital {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 20vh;
  border: 2px solid black;
  border-radius: 20px;
  background: rgb(28, 40, 18);
  background: -moz-linear-gradient(145deg, rgba(219,225,214,1) 0%, rgba(207,215,197,1) 40%, rgba(166,178,154,1) 100%);
  background: -webkit-linear-gradient(145deg, rgba(219,225,214,1) 0%, rgba(207,215,197,1) 40%, rgba(166,178,154,1) 100%);
  background: linear-gradient(145deg, rgba(219,225,214,1) 0%, rgba(207,215,197,1) 40%, rgba(166,178,154,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbe1d6",endColorstr="#a6b29a",GradientType=1);
}

button {
  width: 7.5em;
  height: 2.5em;
  font: inherit;
  font-size: 1rem;
  margin-top: 1em;
}

#time24 {
  display: block;
}

#time12 {
  display: none;
}

@media screen and (min-width: 1025px) {
  .digital {
    font-size: 9vh;
    height: 30vh;
  }
  button {
    font-size: 3.5vh;
  }
  a {
    font-size: 4vh;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .digital {
    font-size: 7vh;
    height: 25vh;
  }
  button {
    font-size: 2.75vh;
  }
  a {
    font-size: 3.5vh;
  }
}

@media screen and (max-width: 768px) {
  .digital {
    font-size: 5.25vh;
    height: 22.5vh;
  }
  button {
    font-size: 2.25vh;
  }
  a {
    font-size: 3vh;
  }
}

@media screen and (max-width: 576px) {
  .digital {
    font-size: 4.25vh;
    height: 20vh;
  }
  button {
    font-size: 2vh;
  }
  a {
    font-size: 2.75vh;
  }
}

