@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Variables */
:root {
  --fs: 16px;
  --fs-button: 24px;
  --ff: "digital dream Fat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 100vw;
  min-width: 100svw;
  min-height: 100vh;
  min-height: 100svh;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
  min-height: inherit;
}

/* display */
body,
.button-container,
.container,
.analog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Link */
.button-container {
  width: 10em;
  height: 5em;
}

a {
  color: black;
  display: inline-block;
  text-decoration: none;
  font-size: var(--fs-button);
}

/* Analog */
.analog {
  width: 400px;
  height: 400px;
  flex-flow: row wrap;
  background-color: #d3d3d3;
  border-radius: 2.5%;
}

.clock {
  background-color: white;
  background-image: url(/image/ios_clock.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  border-radius: 50%;
  height: 85%;
  position: relative;
  width: 85%;
}

.titik-bulat {
  background-color: black;
  border-radius: 50%;
  height: 25px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
}

.hours-container,
.minutes-container,
.seconds-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hours {
  background-color: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.minutes {
  background-color: black;
  height: 40%;
  left: 48.5%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  transform: rotateZ(45deg);
  width: 2%;
}

.seconds {
  background-color: black;
  height: 48%;
  left: 49.5%;
  position: absolute;
  top: 13.5%;
  transform-origin: 50% 76.5%;
  transform: rotateZ(90deg);
  width: 1%;
}

/* Animation */
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation-duration: 43200s;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.minutes-container {
  transition: transform 0.3s cubic-bezier(.4, 2.08, .55, .44);
}

.seconds-container {
  transition: transform 0.2s cubic-bezier(.4, 2.08, .55, .44);
}

