@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "digital dream Fat", sans-serif;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Link */
.button-container {
  width: 10em;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
}
/*
a:hover {

}

a:active {

}

a:visited {

}
*/
/* Analog */
.container {
  min-height: 90vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.analog {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #d3d3d3;
  border-radius: 2.5%;
}

.clock {
  position: relative;
  background-image: url(/image/ios_clock.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  width: 85%;
  height: 85%;
  background-color: white;
  border-radius: 50%;
}

.titik-bulat {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hours-container,
.minutes-container,
.seconds-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hours {
  width: 2.5%;
  height: 20%;
  background-color: #000;
  position: absolute;
  top: 30%;
  left: 48.75%;
  transform-origin: 50% 100%;
}

.minutes {
  width: 2%;
  height: 40%;
  background-color: black;
  position: absolute;
  top: 10%;
  left: 48.5%;
  transform-origin: 50% 100%;
  transform: rotateZ(45deg);
}

.seconds {
  width: 1%;
  height: 48%;
  background-color: black;
  position: absolute;
  top: 13.5%;
  left: 49.5%;
  transform-origin: 50% 76.5%;
  transform: rotateZ(90deg);
}

/* Animation */
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation-duration: 43200s;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.minutes-container {
  transition: transform 0.3s cubic-bezier(.4, 2.08, .55, .44);
}

.seconds-container {
  transition: transform 0.2s cubic-bezier(.4, 2.08, .55, .44);
}

