/* Digital */
.digital {
  width: 875px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

button {
  width: 200px;
  height: 200px;
  font: inherit;
}

#time24 {
  display: block;
}

#time12 {
  display: none;
}

/* Prototype */
.page2 {
  transform: translateX(-100%);
}