@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 875px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  
}

button {
  width: 200px;
  height: 200px;
  font: inherit;
}

#time24 {
  display: block;
}

#time12 {
  display: none;
}

