@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 875px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  
}

button {
  width: 200px;
  height: 200px;
  font: inherit;
}

#time24 {
  display: block;
}

#time12 {
  display: none;
}

#clock-container {
  width: 500px;
  height: 500px;
  background-color: lightgray;
  border-radius: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.clock {
  background-image: url(/image/ios_clock.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  width: 85%;
  height: 85%;
  background-color: white;
  border-radius: 50%;
}

.titik-bulat {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 47.5%;
}